body{
    background-color: #1B1C1E;
    color: white;
    font-family:sans-serif;
}
#content{
    width: 700px;
    margin: 80px auto 10px;
}
.header{
    margin-bottom: 30px;
    padding: 0 150px 0;
}
.header small{
    color:darkgray;
}
.section1{
    text-align: center;
}
img{
    width: 60px;
    margin: 10px;
}
button{
    margin-top: 15px;
    width:100%;
    height: 30px;
    color: white;
    font-weight: bold;
    background-color: blueviolet;
    border:none;
    border-radius: 5px;
}
button a{
    color: inherit;
    text-decoration: none;
}
#section2{
    font-size: 13px;
}
#section2 small{
    padding-left: 30px;
}
.header2{
    margin-bottom: 20px;
}
.col{
    border-radius: 5px;
    width: 310px;
    border: 1px solid white;
    height: 200px;
    float: left;
    margin: 10px;
}
.col a{
    color: inherit;
    text-decoration: none;
}
.col .innerCol{
    padding: 20px;
}
.footer{
    text-align: center;
}

@media only screen and (max-width:750px){
    #content{
        width: 400px;
        margin: 40px auto 5px;
    }
    .header{
        margin-bottom: 10px;
        padding: 0 90px 0;
    }
    .col{
        float: none;
    }
    h1{
        font-size: 18px;
    }
    .header small{
        font-size: 10px;
    }
    img{
        width: 50px;
        margin: 5px;
    }
    .footer{
        font-size: 12px;
    } 
}